h1 { font-size:16pt; }

div.code-block { white-space: nowrap; overflow-x:auto; padding:10px; width:90%; font-size: 80%; background-color: #fdf4e0; font-family: courier, monospace; }

pre.code-block { overflow-x:auto; padding:10px; width:90%; background-color: #fdf4e0; }

span.code { background-color: #fdf4e0;font-size: 80%; background-color: #fdf4e0; font-family: courier, monospace; }
